# NextAuth Configuration
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=generate_a_random_32_char_secret_for_nextauth

# Google OAuth Credentials (Получаются бесплатно в Google Cloud Console)
GOOGLE_CLIENT_ID=your_google_client_id_here.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_client_secret_here

# Список разрешенных Google Email через запятую (кто может входить в админку)
ALLOWED_ADMIN_EMAILS=your_email@gmail.com
